<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>API Flask Quentin Coeuillet</title>
</head>
<body>
<div class="d-flex justify-content-center">
    <h1><span class="badge bg-secondary">API FLASK</span> Quentin Coeuillet </h1>
</div>
<br>
<div class="d-flex justify-content-center">
    <h2>Liste des routes de l'API</h2>
</div>
<br>
<div class="container-sm">
    <ul class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <p>Route : </p>
            <b>/api/quentin/commentaire</b>
            <span class="badge badge-primary badge-pill">POST</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <p>Route : </p>
            <b>/api/quentin/commentaire</b>
            <span class="badge badge-primary badge-pill">GET</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <p>Route : </p>
            <b>/api/quentin/commentaire/&lt;id&gt;</b>
            <span class="badge badge-primary badge-pill">GET</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <p>Route : </p>
            <b>/api/quentin/commentaire/&lt;id&gt;</b>
            <span class="badge badge-primary badge-pill">PUT</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <p>Route : </p>
            <b>/api/quentin/commentaire/&lt;id&gt;</b>
            <span class="badge badge-primary badge-pill">DELETE</span>
        </li>
    </ul>
</div>
</body>
</html>